:root {
  --mainBlue:#2a2a72;
  --mainBbyBlue:#0A4ABF;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#F6EB16;
}

body {
  font-family: 'Roboto Slab', serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.text-white {
  color: let(--mainWhite);
}

