:root {
  --mainBlue:#2a2a72;
  --mainBbyBlue:#0046be;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#F6EB16;
}

body {
  font-family: 'Roboto Slab', serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.text-white {
  color: var(--mainWhite);
}

.text-yellow {
  color: var(--mainYellow);
}

.btn-yellow {
  color: var(--mainYellow);
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainYellow) !important;
}

.btn-yellow:hover {
  color: var(--mainYellow)!important;
  background: var(--mainBbyBlue)!important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainBlue);
}